*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo{
    background-color: rgb(53, 30, 136);
    color: white;
    width: 100%;
    min-width: 300px;
    max-width: 1090px;
    height: 45px;
    margin: auto;
    box-sizing: border-box;
}

.topo h1{
    padding: 3px;
    font-size: 18px;
    font-weight: normal;
    margin-left: 80px;
    position: relative;
}

.topo p{
    margin:auto 8px;
    position: relative;
}

.topo a{
    color: rgb(53, 30, 136);
    background-color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 15px;
}

.topo div{
    display: inline-flex;
    margin: auto;
    padding: 8px;
}

.banner{
    width: 100%;
    max-width: 1090px;
    margin: auto;
}

.banner img{
    width: 100%;
    min-width: 300px;
    height: 590px;
    min-height: 200px;
}

.conteudo{
    width: 100%;
    max-width: 1090px;
    margin:  -5px auto;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
}

.conteudo h2{
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 500;
}

.conteudo p{
    text-align: justify;
    width: 80%;
    line-height: 32px;
    font-size: 14px;
    margin: auto;
}

.tv{
    text-align: center;
}

.tv img{
    width: 60%;
    min-width: 300px;
    min-height: 200px;
}

.galeria p{
    width: 80%;
}

.galeria .area-fotos{
    width: 80%;
    margin: auto;
}

.area-fotos .fotos{
    width: 100%;
    display: inline-flex;
    overflow-x: scroll;  
}

.fotos img{
    width: 265px;
    height: 180px;
    margin: 8px;
    box-shadow: 5px 5px 10px;
}

.galeria .link{
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape{
    background-color: rgb(53, 30, 136);
    color: white;
    font-size: 14px;
    width: 100%;
    max-width: 1090px;
    height: 36px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.rodape p{
    margin: auto;
    padding: 8px;
}